<div class="jumbotron">
    <h1>Jukeboxer</h1>
    <p>Jukeboxer is a webapp for creating Track Listing cards for Jukeboxes</p>
    <p>Login above to get started</p>
    <%= image_url("no_image_small.png") %>
</div>