#content {
    margin-top: 55px;
}

.handle {
    cursor:move
}
.albumBoxImage {
    height: 300px; 
    display: block;
}

.best_in_place {
  padding: .1m;
  cursor: hand;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
.best_in_place:hover, #user_account .do_hover {
  padding-right: 1.5em;
  background-color: #CCC;
}
.best_in_place:hover:after {
  position: absolute;
  font-family: 'FontAwesome';
  content: " \f040";
}
.info_edit {
  float: right;
  cursor: hand;
  cursor: pointer;
}