<% if @track.errors.any? %>
    <%=render "jsDisplayErrors", model: @album%>
<% else %>
    $.bootstrapPurr("<span class='fa fa-info' aria-hidden='true'></span> <%=@track.track_name %> deleted", {
                type:'success',
                    offset: {
                        amount: 60,
                        from: 'top'
                    }
                });
    
    $("#track-<%=@track.id %>").hide({
        complete: function() {
                $("#track-<%=@track.id %>").remove();
            }
        });
        
    $("#album-modal").modal("hide");
<% end %>